body{
    background-color: rgb(33, 33, 224);
}
h1{
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif Black;
}
.menu{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.menu li{
    float: left;
    border-right: solid 1px black;
    list-style: none;
    font-size: 20px;
    margin: 4px;
    
}
a:link, a:visited, a:active {
  color: black;
  text-decoration: underline;
}
h2{
    text-align: center;
}
img{
    width: 55%;
    align-items: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
img.left {
  float: left;
  margin: 10px;
  width: 200px;
}
img.right {
  float: right;
  margin: 10px;
  width: 200px;
}
.tables{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.top{
  justify-content: center;
  text-align: center;
}
table.grid{
  margin: 0 auto;
  width: 300px;
}
table.grid td{
  width: 60px;
  height: 60px;
  border: 1px solid #999;
  box-sizing: border-box;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
ol {
  margin-left: 50px;
  color: black;
  line-height: 1.6;
}