body{
    background-color: rgb(38, 38, 187);
}
h1{
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif Black;
}
.menu{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
li{
    float: left;
    border-right: solid 1px black;
    list-style: none;
    font-size: 20px;
    
}
a:link, a:visited, a:active {
  color: black;
  text-decoration: underline;
}
h2{
    text-align: center;
}
img{
    width: 55%;
    align-items: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
img.left {
  float: left;
  margin: 10px;
  width: 200px;
}
img.right {
  float: right;
  margin: 10px;
  width: 200px;
}
.tables{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.top{
  justify-content: center;
  text-align: center;
}
table.grid{
  margin: 0 auto;
  width: 300px;
}
table.grid td{
  width: 60px;
  height: 60px;
  border: 1px solid #999;
  box-sizing: border-box;
}